@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* navbar */
a.gd-nav{padding-left: 55px !important;}
div.gd-nav-1{margin-left: auto;float: right;}
div.gd-nav-1 a{
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 3px;
  border: #f1f2fc;
  font-size: 14px;
  background-color: #F1F2FC;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar-toggler{background: transparent !important;border: none !important;}
.navbar-toggler:focus-visible{outline: none !important;}
.navbar-toggler:focus{outline: none !important;box-shadow: none !important;}

/* footer */
div.gd-footer{padding: 25px 10px;}
div.gd-footer-1 h4{letter-spacing: 1px;padding-top: 20px;}
div.gd-footer-1 h6{padding-top: 30px;color: #c3c3c8;}
div.gd-footer-1 ul{padding-left: 0rem;}
div.gd-footer-1 ul li{
  list-style-type: none;
  text-transform: capitalize;
  font-size: 14px;
  color: #A6AAB4;
}
div.gd-footer-1 input{padding: 3px 10px;}
div.gd-footer-1 input:focus-visible{outline: none;}
button.gd-butn{
  padding: 5px 20px;
    border-radius: 3px;
    border: #ffc107;
    background-color: #ffc107;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
div.gd-footer-1 h5{color: #c3c3c8;}
div.gd-footer p{color: #c3c3c8 !important;}
div.gd-footer p strong{color: #c3c3c8 !important;}

/* login page */
div.gd-login{
  background-position: center center;
  background-size: cover;
    background-repeat: no-repeat;
}
div.gd-login-1{
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 11%), 0 2px 2px rgb(0 0 0 / 11%), 0 4px 4px rgb(0 0 0 / 11%), 0 6px 8px rgb(0 0 0 / 11%), 0 8px 16px rgb(0 0 0 / 11%);
  padding: 50px 30px;
}
div.gd-login-1 input{
  background-color: transparent;
  border: solid 1px #fff;
  color: #fff;
}
div.gd-login-1 input{
  background-color: transparent !important;
  color: #fff !important;
  box-shadow: none !important;
  border-color: #fff !important;
}
div.gd-login-1 input::placeholder{color: #fff !important;opacity: 0.5;}
.gd-login-link{color: #f2f2f2;}
.gd-login-btn{
    padding: 6px 20px;
    border-radius: 3px;
    border: #f1f2fc;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}
div.gd-login p strong{color: #000 !important;}

/* homepage */
div.gd-prd-1{
  border-radius: 15px;
  overflow: hidden;
  background-color: #f2f2f2;
}
div.gd-prd-1 h4{
  text-transform: capitalize;
  font-weight: 600;
  font-size: 20px;
}
div.gd-prd-1 h3{
  font-weight: bold;
  color: #198754;
}
div.gd-prd-1 select{
  width: 45%;
  border-radius: 3px;
  padding: 0px 10px;
  margin-top: 10px;
}
.gd-prd-1 img {
  width: 100%;
  border-radius: 15px;
  height: 200px;
  object-fit: cover;
  transition: all 1s ease-in-out;
}
.gd-prd-img {
  overflow: hidden;
  border-radius: 15px;
}
.gd-prd-txt{padding: 15px;}
.gd-prd-1 img:hover{transform: scale(1.1);}
/* homepage banner */
div.gd-banner{
  height: 600px;background:url(../src/images/banner1.png);
  background-position: left center;background-size: cover;
    background-repeat: no-repeat;
}
div.gd-bnner-txt{margin-top: 30%;}
div.gd-bnner-txt h6{
  padding: 10px 20px;
  background: #070500;
  border-radius: 50px;
  width: 52%;
  color: #ffc107;
  font-size: 20px;
}
div.gd-bnner-txt h5{
  font-size: 20px;
  padding-top: 15px;
  font-weight: normal;
}

div.gd-bnner-txt h4{
  font-family: "Yesteryear", cursive;
    font-size: 76px;
    padding-top: 32px;
    color: #ffc107;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
}

.gd-sccoter{
  animation: float-up-down 3s ease-in-out infinite both;
    z-index: 1;
    margin-top: -7%;
    margin-left: 2%;
}

@keyframes float-up-down {
  0% {
      -webkit-transform:translateY(0)
  }

  50% {
      -webkit-transform: translateY(-10%);
      transform:translateY(-10%)
  }

  100% {
      -webkit-transform: translateY(0);
      transform:translateY(0)
  }
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  object-fit: contain;
  height: 75px;
}

.item {
  justify-content: center;
  flex-wrap: wrap;
  padding: calc(10px + .00625*(100vw - 320px)) calc(8px + 7*(100vw - 320px) / 1600);
  position: relative;
  margin-top: 10px;
  text-align: center;
  border-radius: 8px;
  background-color: #f2f2f2;
  transition: 1s ease;
  border: 1px solid transparent;
}
.item h4{padding-top: 10px;}
.item:hover{
  background-color: #f2a93e14;
  border: solid 1px #ffc107;
  margin-top: -10px;
}
.item:hover h4{color: #ffc107;}

/* next section */

div.gd-home-3{
  padding: 50px 0px;
  background-color: #f2f2f2;
}

